<div class="container">
  <form (ngSubmit)="submit()" #forma="ngForm" class="d-flex flex-column border p-5">
    <h1 class="text-center">CONTACTO</h1>


    <label for="nombre">
      <b>nombre:</b>
      <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="user.nombre"
        placeholder="Introducir nombre" class="form-control" required minlength="10"
        [ngClass]="{'is-valid':!nombre.invalid,'is-invalid':nombre.invalid}">
    </label>

    <label for="email">
      <b>email:</b>
      <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email"
        placeholder="Introducir email" class="form-control" required maxlength="6" min="1"
        [ngClass]="{'is-valid':!email.invalid,'is-invalid':email.invalid}">
    </label>

    <!-- <label for="mensaje">
      <b>mensaje:</b>
      <input type="text" name="mensaje" id="mensaje" #mensaje="ngModel" [(ngModel)]="user.mensaje"
        placeholder="Introducir mensaje" class="form-control" required maxlength="6" min="1"
        [ngClass]="{'is-valid':!mensaje.invalid,'is-invalid':mensaje.invalid}">
    </label> -->
    <label for="mensaje" class="d-flex flex-column">
      <b>Mensaje</b>
      <textarea name="mensaje" cols="30" rows="10" #mensaje="ngModel" [(ngModel)]="user.mensaje"
        [ngClass]="{'is-valid':!mensaje.invalid,'is-invalid':mensaje.invalid}" maxlength="500"></textarea>
    </label>

    <button type="submit" class="btn btn-success d-block m-auto mt-5">Enviar</button>

  </form>
</div>