<div class="container">
  <form (ngSubmit)="submit()" #forma="ngForm" class="d-flex flex-column border p-5 w-50 m-auto rounded">
    <h1 class="text-center">EMPLEADO</h1>

    <label for="dni">
      <b>Dni:</b>
      <input type="text" name="dni" id="dni" #dni="ngModel" [(ngModel)]="user.dni" placeholder="Introducir dni"
        class="form-control" required maxlength="8" [ngClass]="{'is-valid':!dni.invalid,'is-invalid':dni.invalid}">
    </label>

    <label for="nombre">
      <b>Nombre:</b>
      <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="user.nombre"
        placeholder="Introducir nombre" class="form-control" required
        [ngClass]="{'is-valid':!nombre.invalid,'is-invalid':nombre.invalid}">
    </label>

    <label for="direccion">
      <b>Direccion:</b>
      <input type="text" name="direccion" id="direccion" #direccion="ngModel" [(ngModel)]="user.direccion"
        placeholder="Introducir direccion" class="form-control" required
        [ngClass]="{'is-valid':!direccion.invalid,'is-invalid':direccion.invalid}">
    </label>

    <label for="edad">
      <b>Edad:</b>
      <input type="number" name="edad" id="edad" #edad="ngModel" [(ngModel)]="user.edad" placeholder="Introducir edad"
        class="form-control" required [ngClass]="{'is-valid':!edad.invalid,'is-invalid':edad.invalid}">
    </label>

    <label for="celular">
      <b>Celular:</b>
      <input type="tel" name="celular" id="celular" #celular="ngModel" [(ngModel)]="user.celular"
        placeholder="Introducir celular" class="form-control" required minlength="9"
        [ngClass]="{'is-valid':!celular.invalid,'is-invalid':celular.invalid}">
    </label>

    <label for="cargo">
      <b>Cargo:</b>
      <input type="text" name="cargo" id="cargo" #cargo="ngModel" [(ngModel)]="user.cargo"
        placeholder="Introducir cargo" class="form-control" required
        [ngClass]="{'is-valid':!cargo.invalid,'is-invalid':cargo.invalid}">
    </label>

    <label for="sexo">
      <b>Sexo:</b>
      <input type="text" name="sexo" id="sexo" #sexo="ngModel" [(ngModel)]="user.sexo" placeholder="Introducir sexo"
        class="form-control" required [ngClass]="{'is-valid':!sexo.invalid,'is-invalid':sexo.invalid}">
    </label>

    <label for="sueldo">
      <b>Sueldo:</b>
      <input type="number" name="sueldo" id="sueldo" #sueldo="ngModel" [(ngModel)]="user.sueldo"
        placeholder="Introducir sueldo" class="form-control" required
        [ngClass]="{'is-valid':!sueldo.invalid,'is-invalid':sueldo.invalid}">
    </label>

    <button type="submit" class="btn btn-success d-block m-auto mt-5">Enviar</button>

  </form>
</div>